<link rel="stylesheet" href="/css/header.css">
    <header class="mx-4 d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 mb-5 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a class="fs-4" href="/">
            Consult Pro
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2">Services</a></li>
        <li><a href="#" class="nav-link px-2">About</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <%if(!locals.user){%>
        <a href="/users/login">
            <button type="button" class="btn btn-outline-primary me-2">Log in</button>
        </a>
        <a href="/users/signup">
            <button type="button" class="btn btn-primary">Sign-up</button>
        </a>
        <%}else{%>
        <a href="/users/profile">
            <button type="button" class="btn btn-outline-primary me-2">My profile</button>
        </a>
        <a href="/users/signout">
            <button type="button" class="btn btn-primary">Sign Out</button>
        </a>
        <%}%>
      </div>
    </header>
  