<%-include('_carousel')-%>


<!-- Features  -->
<div class="container px-4 py-5 my-5">
    <h2 class="pb-2 border-bottom">Why Choose Us?</h2>

    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-start gap-2">
        <h2 class="text-body-emphasis">Empowering Your Career Journey with Consulting Pro</h2>
        <h5 class="text-body-secondary">For a decade, Consulting Pro has guided over 40 million clients through career complexities, earning trust with proven results</h5>
        <a href="/about" class="btn btn-primary btn-lg">About Us</a>
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <i class="fa-solid fa-user-doctor fs-1" style="color: #0e58d8;"></i>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Job Search Engine</h4>
            <p class="text-body-secondary">Integration with job boards to provide users with the latest job opportunities tailored to their skills and interests</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <i class="fa-solid fa-archway fs-1" style="color: #0e58d8;"></i>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Career Pathway Maps</h4>
            <p class="text-body-secondary">Visual representations of different career paths and the steps needed to achieve them.</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <i class="fa-solid fa-person fs-1" style="color: #0e58d8;"></i>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Mentorship Program</h4>
            <p class="text-body-secondary">Connect users with experienced professionals in their field for guidance and networking</p>
          </div>

          <div class="col d-flex flex-column gap-2">
            <i class="fa-brands fa-envira fs-1" style="color: #0e58d8;"></i>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Resource Library</h4>
            <p class="text-body-secondary"> A collection of articles, e-books, and videos on various career-related topics</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>
<!-- Row featurette -->
<div class="container my-5">
    <div class="row featurette">
        <div class="col-md-7">
            <h1 class="featurette-heading fw-normal lh-1">Quality Makes the Belief for Customers</h1>
            <p class="lead my-5">This quote emphasizes the importance of delivering high-quality products or services to build trust and belief among customers. It suggests that when customers experience quality, they are more likely to have faith in a brand or business.</p>
    </div>
    <div class="col-md-5">
        <img height="290px" width="400px" class="rounded-5" src="/img/home1.jpg" alt="..">
    </div>
</div>
</div>

<!-- section 3 -->

<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">What we Offer?</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        <i class="fa-solid fa-gear"></i>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Career Guidance</h3>
          <p>Expert advice from seasoned career consultants to help you make informed decisions and navigate the job market</p>
          <a href="/services" class="btn btn-primary">
           More
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <i class="fa-solid fa-screwdriver-wrench"></i>
        </div>
        <div>
            <h3 class="fs-2 text-body-emphasis">Resume Builder</h3>
            <p>Tools to create professional application materials that stand out to potential employers.</p>
            <a href="/services" class="btn btn-primary">
                More
            </a>
        </div>
    </div>
    <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <i class="fa-solid fa-toggle-on"></i>
        </div>
        <div>
            <h3 class="fs-2 text-body-emphasis">Personalized Supp</h3>
            <p>Tailored services that cater to your unique needs and career aspirations. Have a great understanding of the goals</p>
          <a href="/services" class="btn btn-primary">
            More
          </a>
        </div>
      </div>
    </div>
  </div>

<!-- home section 4 -->

<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Ready to Supercharge Your Career?</h1>
      <p class="col-md-8 fs-4">Are you eager to take your career to new heights? Excited to unlock your full potential and explore endless opportunities? Your journey starts right here, right now, with Consulting Pro</p>
      <a href="/users/signup">
        <button class="btn btn-primary btn-lg" type="button">Sign Up</button>
      </a>
    </div>
  </div>